<div class="contain fadeIn">
    <div class="row">
        <div class="congratulation">
            <img src="../../assets/img/win/congratulation_bg.png" alt="" width="100%">
            <span>Xin chúc mừng</span>
        </div>
    </div>
    <div class="rank-container">
        <div class="rank">
            <div class="rank-item rank-4">
                <div class="avatar">
                    <img class="crows" src="../../assets/img/win/crows_4.png" alt="Image">
                    <img class="user-image" src="../../assets/img/win/user (4).png" alt="Image">
                </div>
                <div class="name">
                    HANNAH NGUYEN
                </div>
                <div class="point">1111</div>
                <div class="rank-name">
                    <img src="../../assets/img/win/top4.png" alt="" height="100%">
                    <div class="rank-text">
                        <p class="number">
                            4
                        </p>
                        <p class="label">
                            Giải đồng
                        </p>
                    </div>
                </div>
                <div class="avatar"></div>
            </div>
            <div class="rank-item rank-2">
                <div class="avatar">
                    <img class="crows" src="../../assets/img/win/crows_2.png" alt="Image">
                    <img class="user-image" src="../../assets/img/win/user (2).png" alt="Image">
                </div>
                <div class="name">
                    ANTHONY NGUYEN
                </div>
                <div class="point">
                    2.000.000
                </div>
                <div class="rank-name">
                    <img src="../../assets/img/win/top2.png" alt="" width="50%" height="100%">
                    <div class="rank-text">
                        <p class="number">
                            2
                        </p>
                        <p class="label">
                            Giải nhì
                        </p>
                    </div>
                </div>
            </div>
            <div class="rank-item rank-1">
                <div class="avatar">
                    <img class="crows" src="../../assets/img/win/crows_1.png" alt="Image">
                    <img class="user-image" src="../../assets/img/win/user (1).png" alt="Image">
                </div>
                <div class="name">
                    ALICE NGUYEN
                </div>
                <div class="point">2.500.000</div>
                <div class="rank-name">
                    <img src="../../assets/img/win/top1.png" alt="" width="50%" height="95%">
                    <div class="rank-text">
                        <p class="number">
                            1
                        </p>
                        <p class="label">
                            Giải nhất
                        </p>
                    </div>
                </div>
                <div class="avatar"></div>
            </div>
            <div class="rank-item rank-3">
                <div class="avatar">
                    <img class="crows" src="../../assets/img/win/crows_3.png" alt="Image">
                    <img class="user-image" src="../../assets/img/win/user (3).png" alt="Image">
                </div>
                <div class="name">
                    PERTER PHAM
                </div>
                <div class="point">111</div>
                <div class="rank-name">
                    <img src="../../assets/img/win/top3.png" alt="" width="50%" height="100%">
                    <div class="rank-text">
                        <p class="number">
                            3
                        </p>
                        <p class="label">
                            Giải ba
                        </p>
                    </div>
                </div>
            </div>
            <div class="rank-item rank-4">
                <div class="avatar">
                    <img class="crows" src="../../assets/img/win/crows_4.png" alt="Image">
                    <img class="user-image" src="../../assets/img/win/user (5).png" alt="Image">
                </div>
                <div class="name">
                    LON TO
                </div>
                <div class="point">1.500.500</div>
                <div class="rank-name">
                    <img src="../../assets/img/win/top4.png" alt="" width="50%" height="100%">
                    <div class="rank-text">
                        <p class="number">
                            5
                        </p>
                        <p class="label">
                            Giải đồng
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="coins">
        </div>
    </div>
</div>