<div class="container fadeIn">
    <div class="number-container">
        <div class="title">
            <div class="avatar" (click)="ngOnInit()">
                <img class="user-image" src="../../assets/img/lucky/avatar.jpg" alt="Image">
            </div>
            <div class="name">
                <span>Anthony Nguyen</span>
            </div>
            <div class="exp">
                <span> 10.000 <span> EXP </span></span>
            </div>
        </div>
        <div class="odometer-container">
            <div id="odometer" class="odometer">999</div>
        </div>
    </div>
</div>