html,
body {
    margin: 0;
    height: 100%;
    min-height: 768px;
    font-family: Archivo Narrow;
}

@media only screen and (min-width: 1440px) and (min-height: 900px) {
    body {
        overflow: hidden;
    }
}